
# ignore built TGZs and config files
**/dist/*
**.json
**.nmconnection

# ignore RPMs and python deps (download them yourself)
**.exe
**.whl
**.tar.gz
**.tgz
**.zip
**.rpm

**/example-plugins

**/.other

# ignore Nessus Policy files
**.nessus
**.xml

# Ignore system-specific notes
**/Notes
**/notes

# only keep setup notes
# !./src/Notes/setup.md

# only keep the example config JSON
!./src/NessusAPI/configs/example-config.json.json
